<!DOCTYPE html><html data-editor-version="2" class="sg-campaigns" xmlns="http://www.w3.org/1999/xhtml"><head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
      <!--[if !mso]><!-->
      <meta http-equiv="X-UA-Compatible" content="IE=Edge">
      <!--<![endif]-->
      <!--[if (gte mso 9)|(IE)]>
      <xml>
        <o:OfficeDocumentSettings>
          <o:AllowPNG/>
          <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
      </xml>
      <![endif]-->
      <!--[if (gte mso 9)|(IE)]>
  <style type="text/css">
    body {width: 600px;margin: 0 auto;}
    table {border-collapse: collapse;}
    table, td {mso-table-lspace: 0pt;mso-table-rspace: 0pt;}
    img {-ms-interpolation-mode: bicubic;}
  </style>
<![endif]-->
      <style type="text/css">
    body, p, div {
      font-family: arial,helvetica,sans-serif;
      font-size: 14px;
    }
    body {
      color: #000000;
    }
    body a {
      color: #1188E6;
      text-decoration: none;
    }
    p { margin: 0; padding: 0; }
    table.wrapper {
      width:100% !important;
      table-layout: fixed;
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust: 100%;
      -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
    }
    img.max-width {
      max-width: 100% !important;
    }
    .column.of-2 {
      width: 50%;
    }
    .column.of-3 {
      width: 33.333%;
    }
    .column.of-4 {
      width: 25%;
    }
    @media screen and (max-width:480px) {
      .preheader .rightColumnContent,
      .footer .rightColumnContent {
        text-align: left !important;
      }
      .preheader .rightColumnContent div,
      .preheader .rightColumnContent span,
      .footer .rightColumnContent div,
      .footer .rightColumnContent span {
        text-align: left !important;
      }
      .preheader .rightColumnContent,
      .preheader .leftColumnContent {
        font-size: 80% !important;
        padding: 5px 0;
      }
      table.wrapper-mobile {
        width: 100% !important;
        table-layout: fixed;
      }
      img.max-width {
        height: auto !important;
        max-width: 100% !important;
      }
      a.bulletproof-button {
        display: block !important;
        width: auto !important;
        font-size: 80%;
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
      .columns {
        width: 100% !important;
      }
      .column {
        display: block !important;
        width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
    }
  </style>
      <!--user entered Head Start--><!--End Head user entered-->
    </head>
    <body>
      <center class="wrapper" data-link-color="#1188E6" data-body-style="font-size:14px; font-family:arial,helvetica,sans-serif; color:#000000; background-color:#FFFFFF;">
        <div class="webkit">
          <table cellpadding="0" cellspacing="0" border="0" width="100%" class="wrapper" bgcolor="#FFFFFF">
            <tbody><tr>
              <td valign="top" bgcolor="#FFFFFF" width="100%">
                <table width="100%" role="content-container" class="outer" align="center" cellpadding="0" cellspacing="0" border="0">
                  <tbody><tr>
                    <td width="100%">
                      <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tbody><tr>
                          <td>
                            <!--[if mso]>
    <center>
    <table><tr><td width="600">
  <![endif]-->
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="width:100%; max-width:600px;" align="center">
                                      <tbody><tr>
                                        <td role="modules-container" style="padding:0px 0px 0px 0px; color:#000000; text-align:left;" bgcolor="#FFFFFF" width="100%" align="left"><table class="module preheader preheader-hide" role="module" data-type="preheader" border="0" cellpadding="0" cellspacing="0" width="100%" style="display: none !important; mso-hide: all; visibility: hidden; opacity: 0; color: transparent; height: 0; width: 0;">
    <tbody><tr>
      <td role="module-content">
        <p></p>
      </td>
    </tr>
  </tbody></table><table class="wrapper" role="module" data-type="image" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="d111da9b-d91e-4254-96cb-385f460800a3">
    <tbody>
      <tr>
        <td style="font-size:6px; line-height:10px; padding:0px 0px 0px 0px;" valign="top" align="right">
          <img class="max-width" border="0" style="display:block; color:#000000; text-decoration:none; font-family:Helvetica, arial, sans-serif; font-size:16px; max-width:25% !important; width:25%; height:auto !important;" width="150" alt="" data-proportionally-constrained="true" data-responsive="true" src="http://cdn.mcauto-images-production.sendgrid.net/555a25ad3a54eac0/04fd908e-8db0-42b7-9efc-6eed1f95ce81/1434x606.png">
        </td>
      </tr>
    </tbody>
  </table><table class="wrapper" role="module" data-type="image" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="e9450fd7-7197-41f0-af97-4eb4879b89f5">
    <tbody>
      <tr>
        <td style="font-size:6px; line-height:10px; padding:0px 0px 0px 0px;" valign="top" align="center">
          <img class="max-width" border="0" style="display:block; color:#000000; text-decoration:none; font-family:Helvetica, arial, sans-serif; font-size:16px; max-width:100% !important; width:100%; height:auto !important;" width="600" alt="" data-proportionally-constrained="true" data-responsive="true" src="http://cdn.mcauto-images-production.sendgrid.net/555a25ad3a54eac0/480eceaf-9cf8-44bb-a529-d6add3c92137/900x300.jpg">
        </td>
      </tr>
    </tbody>
  </table><table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="53585dfc-e159-4b68-bb56-8dd3f8d79549">
    <tbody>
      <tr>
        <td style="padding:18px 0px 18px 0px; line-height:0px; text-align:inherit;" height="100%" valign="top" bgcolor="" role="module-content"><div><div style="font-family: inherit; text-align: center"><span style="font-size: 18px">Hello </span><span style="font-size: 18px"><strong><%= name %>,</strong></span></div>
<div style="font-family: inherit; text-align: center"><br></div><div></div></div></td>
      </tr>
    </tbody>
  </table><table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="ddd4746d-def8-4c75-bc30-76091c8e0e06">
    <tbody>
      <tr>
        <td style="padding:18px 0px 18px 0px; line-height:0px; text-align:inherit;" height="100%" valign="top" bgcolor="" role="module-content"><div><div style="font-family: inherit; text-align: center"><span style="color: #000000; font-size: 16px; font-family: arial,helvetica,sans-serif">Good to see you on udChalo platform. Are you looking for flights?</span><span style="font-size: 16px; font-family: arial,helvetica,sans-serif">&nbsp;</span></div><div></div></div></td>
      </tr>
    </tbody>
  </table><table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" role="module" data-type="columns" style="padding:0px 0px 0px 0px;" bgcolor="#FFFFFF">
    <tbody>
      <tr role="module-content">
        <td height="100%" valign="top">
          <table class="column" width="200" style="width:200px; border-spacing:0; border-collapse:collapse; margin:0px 0px 0px 0px;" cellpadding="0" cellspacing="0" align="left" border="0" bgcolor="">
            <tbody>
              <tr>
                <td style="padding:0px;margin:0px;border-spacing:0;"><table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="27cbf1ab-08ac-44df-8a30-3c1ad72eadea">
    <tbody>
      <tr>
        <td style="padding:18px 0px 18px 0px; line-height:22px; text-align:inherit;" height="100%" valign="top" bgcolor="" role="module-content"><div><div style="font-family: inherit; text-align: center">From</div>
<div style="font-family: inherit; text-align: center"><span style="color: #0a467a; font-size: 28px"><strong><%= source %></strong></span></div><div></div></div></td>
      </tr>
    </tbody>
  </table></td>
              </tr>
            </tbody>
          </table>
          <table class="column" width="200" style="width:200px; border-spacing:0; border-collapse:collapse; margin:0px 0px 0px 0px;" cellpadding="0" cellspacing="0" align="left" border="0" bgcolor="">
            <tbody>
              <tr>
                <td style="padding:0px;margin:0px;border-spacing:0;"><table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="f065e7c1-4bcc-42d7-b2c6-8a22445e0b81">
    <tbody>
      <tr>
        <td style="padding:18px 0px 18px 0px; line-height:22px; text-align:inherit;" height="100%" valign="top" bgcolor="" role="module-content"><div><div style="font-family: inherit; text-align: center">To</div>
<div style="font-family: inherit; text-align: center"><span style="color: #0a467a; font-size: 28px"><strong><%= destination %></strong></span></div><div></div></div></td>
      </tr>
    </tbody>
  </table><table border="0" cellpadding="0" cellspacing="0" class="module" data-role="module-button" data-type="button" role="module" style="table-layout:fixed;" width="100%" data-muid="476fe6a5-eea9-481b-a032-f262d6daee16">
      <tbody>
        <tr>
          <td align="center" bgcolor="" class="outer-td" style="padding:0px 0px 0px 0px;"><%= name %>
            <table border="0" cellpadding="0" cellspacing="0" class="wrapper-mobile" style="text-align:center;">
              <tbody>
                <tr>
                <td align="center" bgcolor="#16662E" class="inner-td" style="border-radius:6px; font-size:16px; text-align:center; background-color:inherit;">
                  <a href='<%= url%>' style="background-color:#16662E; border:1px solid #16662E; border-color:#16662E; border-radius:10px; border-width:1px; color:#ffffff; display:inline-block; font-size:14px; font-weight:normal; letter-spacing:0px; line-height:normal; padding:12px 18px 12px 18px; text-align:center; text-decoration:none; border-style:solid;" target="_blank">RESUME BOOKING</a>
                </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table></td>
              </tr>
            </tbody>
          </table>
        <table width="200" style="width:200px; border-spacing:0; border-collapse:collapse; margin:0px 0px 0px 0px;" cellpadding="0" cellspacing="0" align="left" border="0" bgcolor="" class="column column-2">
      <tbody>
        <tr>
          <td style="padding:0px;margin:0px;border-spacing:0;"><table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="3b90690f-f8b0-4c07-9aec-c345715dd58d">
    <tbody>
      <tr>
        <td style="padding:18px 0px 18px 0px; line-height:22px; text-align:inherit;" height="100%" valign="top" bgcolor="" role="module-content"><div><div style="font-family: inherit; text-align: center">Date</div>
<div style="font-family: inherit; text-align: center"><span style="color: #0a467a; font-size: 28px"><strong><%= date %>,</strong></span></div><div></div></div></td>
      </tr>
    </tbody>
  </table></td>
        </tr>
      </tbody>
    </table></td>
      </tr>
    </tbody>
  </table><table class="module" role="module" data-type="divider" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="44a80e22-1425-4910-b5ad-008e4f66672e">
    <tbody>
      <tr>
        <td style="padding:10px 0px 0px 0px;" role="module-content" height="100%" valign="top" bgcolor="">
          <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" height="3px" style="line-height:3px; font-size:3px;">
            <tbody>
              <tr>
                <td style="padding:0px 0px 3px 0px;" bgcolor="#16662E"></td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table><table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="a97c726f-1464-4e86-91a2-a1bd7ee32598">
    <tbody>
      <tr>
        <td style="padding:18px 0px 18px 0px; line-height:0px; text-align:inherit;" height="100%" valign="top" bgcolor="" role="module-content"><div><div style="font-family: inherit; text-align: center"><span style="font-size: 20px">udChalo is proud to serve you</span></div><div></div></div></td>
      </tr>
    </tbody>
  </table><table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" role="module" data-type="columns" style="padding:0px 0px 0px 0px;" bgcolor="#FFFFFF">
    <tbody>
      <tr role="module-content">
        <td height="100%" valign="top">
          <table class="column" width="290" style="width:290px; border-spacing:0; border-collapse:collapse; margin:0px 10px 0px 0px;" cellpadding="0" cellspacing="0" align="left" border="0" bgcolor="">
            <tbody>
              <tr>
                <td style="padding:0px;margin:0px;border-spacing:0;"><table class="wrapper" role="module" data-type="image" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="e2c4b089-8d98-4d1b-9c13-18f937d6d976">
    <tbody>
      <tr>
        <td style="font-size:6px; line-height:10px; padding:0px 0px 0px 0px;" valign="top" align="center">
          <img class="max-width" border="0" style="display:block; color:#000000; text-decoration:none; font-family:Helvetica, arial, sans-serif; font-size:16px; max-width:28% !important; width:28%; height:auto !important;" width="81" alt="" data-proportionally-constrained="true" data-responsive="true" src="http://cdn.mcauto-images-production.sendgrid.net/555a25ad3a54eac0/d8b02d85-ff27-4f00-840a-43d2adb6cd7b/130x99.png">
        </td>
      </tr>
    </tbody>
  </table><table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="d8de3a26-d501-49fe-861a-de0047475ad0">
    <tbody>
      <tr>
        <td style="padding:18px 0px 18px 0px; line-height:22px; text-align:inherit;" height="100%" valign="top" bgcolor="" role="module-content"><div><ul>
  <li style="text-align: inherit"><span style="font-size: 12px">Get all Defence Airfares on one platform</span></li>
  <li style="text-align: inherit"><span style="font-size: 12px">Get your Entitled Balmier Lawrie tickets on udChalo</span></li>
  <li style="text-align: inherit"><span style="font-size: 12px">Claim your air travel</span></li>
</ul><div></div></div></td>
      </tr>
    </tbody>
  </table><table border="0" cellpadding="0" cellspacing="0" class="module" data-role="module-button" data-type="button" role="module" style="table-layout:fixed;" width="100%" data-muid="5f837f10-6790-4ff0-8912-6c1260454c2f.1.1">
      <tbody>
        <tr>
          <td align="center" bgcolor="" class="outer-td" style="padding:0px 0px 0px 0px;">
            <table border="0" cellpadding="0" cellspacing="0" class="wrapper-mobile" style="text-align:center;">
              <tbody>
                <tr>
                <td align="center" bgcolor="#16662E" class="inner-td" style="border-radius:6px; font-size:16px; text-align:center; background-color:inherit;">
                  <a href="https://www.udchalo.com/flights" style="background-color:#16662E; border:0px solid #16662E; border-color:#16662E; border-radius:10px; border-width:0px; color:#ffffff; display:inline-block; font-size:11px; font-weight:bold; letter-spacing:0px; line-height:normal; padding:12px 18px 12px 18px; text-align:center; text-decoration:none; border-style:solid;" target="_blank">BOOK NOW</a>
                </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table></td>
              </tr>
            </tbody>
          </table>
          <table class="column" width="290" style="width:290px; border-spacing:0; border-collapse:collapse; margin:0px 0px 0px 10px;" cellpadding="0" cellspacing="0" align="left" border="0" bgcolor="">
            <tbody>
              <tr>
                <td style="padding:0px;margin:0px;border-spacing:0;"><table class="wrapper" role="module" data-type="image" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="b398b888-555d-4e0a-be4f-d7f34420fea5">
    <tbody>
      <tr>
        <td style="font-size:6px; line-height:10px; padding:0px 0px 0px 0px;" valign="top" align="center">
          <img class="max-width" border="0" style="display:block; color:#000000; text-decoration:none; font-family:Helvetica, arial, sans-serif; font-size:16px; max-width:30% !important; width:30%; height:auto !important;" width="87" alt="" data-proportionally-constrained="true" data-responsive="true" src="http://cdn.mcauto-images-production.sendgrid.net/555a25ad3a54eac0/d6f324ec-ac93-46de-80b0-14185bb6215c/121x87.png">
        </td>
      </tr>
    </tbody>
  </table><table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="bc205e8d-29ad-4f71-a179-dc52316240e9">
    <tbody>
      <tr>
        <td style="padding:18px 0px 18px 0px; line-height:22px; text-align:inherit;" height="100%" valign="top" bgcolor="" role="module-content"><div><ul>
  <li style="text-align: inherit"><span style="font-size: 12px">Choose from 10000+ Hotel options</span></li>
  <li style="text-align: inherit"><span style="font-size: 12px">FAB Hotels and OYO Hotels available with udChalo</span></li>
  <li style="text-align: inherit"><span style="font-size: 12px">Avail Zero convenience fee</span></li>
</ul><div></div></div></td>
      </tr>
    </tbody>
  </table><table border="0" cellpadding="0" cellspacing="0" class="module" data-role="module-button" data-type="button" role="module" style="table-layout:fixed;" width="100%" data-muid="5f837f10-6790-4ff0-8912-6c1260454c2f.1">
      <tbody>
        <tr>
          <td align="center" bgcolor="" class="outer-td" style="padding:0px 0px 0px 0px;">
            <table border="0" cellpadding="0" cellspacing="0" class="wrapper-mobile" style="text-align:center;">
              <tbody>
                <tr>
                <td align="center" bgcolor="#16662E" class="inner-td" style="border-radius:6px; font-size:16px; text-align:center; background-color:inherit;">
                  <a href="https://www.udchalo.com/hotels" style="background-color:#16662E; border:0px solid #16662E; border-color:#16662E; border-radius:10px; border-width:0px; color:#ffffff; display:inline-block; font-size:11px; font-weight:bold; letter-spacing:0px; line-height:normal; padding:12px 18px 12px 18px; text-align:center; text-decoration:none; border-style:solid;" target="_blank">LEARN MORE</a>
                </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table></td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table><table class="module" role="module" data-type="divider" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="0649dc4d-0991-4a80-aa69-9e3badc1ab62">
    <tbody>
      <tr>
        <td style="padding:10px 0px 0px 0px;" role="module-content" height="100%" valign="top" bgcolor="">
          <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" height="3px" style="line-height:3px; font-size:3px;">
            <tbody>
              <tr>
                <td style="padding:0px 0px 3px 0px;" bgcolor="#16662E"></td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table><table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="186bc8ae-7bdf-4a72-98f7-8f7f3da114fe">
    <tbody>
      <tr>
        <td style="padding:18px 0px 18px 0px; line-height:0px; text-align:inherit;" height="100%" valign="top" bgcolor="" role="module-content"><div><div style="font-family: inherit; text-align: center"><span style="font-size: 18px"><u>Get booking assistance at our booking office near you</u></span></div><div></div></div></td>
      </tr>
    </tbody>
  </table><table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" role="module" data-type="columns" style="padding:0px 0px 0px 0px;" bgcolor="#FFFFFF">
    <tbody>
      <tr role="module-content">
        <td height="100%" valign="top">
          <table class="column" width="290" style="width:290px; border-spacing:0; border-collapse:collapse; margin:0px 10px 0px 0px;" cellpadding="0" cellspacing="0" align="left" border="0" bgcolor="">
            <tbody>
              <tr>
                <td style="padding:0px;margin:0px;border-spacing:0;"><table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="e7ddde96-0faa-466b-b51d-414d762a3754">
    <tbody>
      <tr>
        <td style="padding:18px 0px 18px 0px; line-height:22px; text-align:inherit;" height="100%" valign="top" bgcolor="" role="module-content"><div><div style="font-family: inherit; text-align: center"><span style="color: #0A467A; font-size: 20px"><strong>Contact Us</strong></span></div>
<div style="font-family: inherit; text-align: center"><span style="color: rgb(0,0,0); font-size: 14px">9272203030/8408833030</span>&nbsp;</div><div></div></div></td>
      </tr>
    </tbody>
  </table></td>
              </tr>
            </tbody>
          </table>
          <table class="column" width="290" style="width:290px; border-spacing:0; border-collapse:collapse; margin:0px 0px 0px 10px;" cellpadding="0" cellspacing="0" align="left" border="0" bgcolor="">
            <tbody>
              <tr>
                <td style="padding:0px;margin:0px;border-spacing:0;"><table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="3adb4d40-8c68-43f2-94ff-f89276ad9a4d">
    <tbody>
      <tr>
        <td style="padding:18px 0px 18px 0px; line-height:22px; text-align:inherit;" height="100%" valign="top" bgcolor="" role="module-content"><div><div style="font-family: inherit; text-align: center"><span style="color: #0A467A; font-size: 20px"><strong>Email Id</strong></span></div>
<div style="font-family: inherit; text-align: center"><span style="color: rgb(0,0,0); font-size: 14px">customercare@udchalo.com</span>&nbsp;</div><div></div></div></td>
      </tr>
    </tbody>
  </table></td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table><table class="module" role="module" data-type="social" align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="09d84dc9-c0f8-471d-bb90-23010371c78f">
    <tbody>
     </tbody></table><table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="full" bgcolor="#ffffff" style="background-color: #ffffff;">
	<tbody><tr>
		<td width="100%" valign="top" align="center">
		
			<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="mobile">
				<tbody><tr>
					<td align="center">
					
						<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="full">
							<tbody><tr>
								<td width="100%" height="1" bgcolor="#ccc" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
							</tr>
							<tr>
								<td width="100%" height="20"></td>
							</tr>
						</tbody></table>
						
						<table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="full">
							<tbody><tr>
								<td width="100%" align="center">
									</td></tr><tr>
											<td valign="bottom" style="text-align: center; font-family: Helvetica, Arial, sans-serif, 'Open Sans'; font-size: 13px; color: #ffffff; line-height: 22px; font-weight: 700;">
												<a href="https://www.facebook.com/udchalo/?__tn__=%2Cd%2CP-R&eid=ARCN0TzlA381_EoT0mpzJvejpQjYeX41rEolR_nAXKZQEcS5842cIloHP7x-G4ArLoVN7neTJV0q7tEq" target="_blank;" style="margin-right:7px;"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAYAAAAe2bNZAAAEUklEQVRYhc2XXWgcVRTH/+fO3d3J
ZpNsNZtsVJrEGmuLpVBjq/XBiIItonmx+IEtaBU/HgQVISC02Pr94kMDGlKo2Ah9EoUqCDVKH2oT
pQGLTbHWbMhXY5vdbOLOzs7s3CO7bbb5ItmZNIl/uMzMvfec++PeOXPO0IP792O6RKwGqtSEZoSg
nCw0TQLEGB+JIhK50mBJe7sg2kYO3aUEVwMoB0AADME0pogvMONMuCTTFYvV/hqOXsqK3KhQcGwB
PRtAJmChPFUKn9JmrC1RnO4PR0c+sImaCARmgAXPMVTEDQDuI8LupBlAODryF4D3AeoAkF1sJbHw
MEcB/gbgUyBqKhK8IALdQaAjSvEfrLDVMwyBnxKa1gNC89VT8C4iuhMsThLxhwBCbmCElio5DMIx
IoouiWKmAkTUYvkyXWBEioMh0UJC7L2BELP8YyMxjmKe7ZbBscrCg5kVTwuid5cNpADEjxq68YXP
7+yFcAovtrRSwfyNIKeRGF+6iLAlyRFqj3JUf8gM7pvyI6AoF5PCUXSYQL6VAJkSs9aSVlRvKEKu
CRIKEM4OImxeSZBr8mV96ZcdmUKuycRQFcK3jL7mNXo3r6/BA1vqoPslGIyfu/9GT+9w8Q5IvGAk
bzpomXpKqnRZNWh0hxeQjeuq8MnbO6GJ60EZG0q4gwEik4nws//E6ttlpL6v2QG0Iozm6PGHNhRA
jLSFScOCYdqu/VRELj8JpnappNOMuWmmKEUrywrT3vjoOC4OxD350UOpprB/uEqw4u1ujTVBKA/p
kNr14wn4JSrK9PzVg/z9gzXN9PDz7a73ZcO6Khx654l5xw51nMK3nefc47BqXyRru1diIu3NkESD
pz0dGk3ivc87sad5C9bWhPN9nx07jbFxA2f/vOQNhhH0tDMT/2by35PkpFno6/59IN/neWeAiRt+
TF6VSZX1Cgb3/x9gbFs7IcDUvdogzEhTZfyEiJSmv15tmFRyzXejvzUa4qfjj+VgkqsJEx+8tc1I
hKE17rrbIWATgTa5dWLbDs73XcaZc0M4e2EUlu24BmHmgVDkyuuVdTFIyfmAagX4mfnq0oXU2XXR
9eKzJUi0El3NjkLzm9AC5i8knCNL9uxWjMGUplrTmkKuyazlz3tQSrwlWD1CRGtXBoSVbgde9Fua
MdUlpalP3Y8LcnbZvuzJXBJebpaygHWgwqd+kNP+t2WFpU+f053wTbzE4NyReSq4ihEr1VYdHD8Q
LZ9ZiM1JByT4qMj6cvXB5HKASGQ+5azzav6NmaV5c5PPkd8z8zYQLz1crokZhnCwO+TPvDkfCBb+
8adeCbGVgIMAu6qwZ8kk0FdK8D1SyY6FJi6YtYkpTsT7WHGtbeqvgPl8sQTMHLfS+scgvo2A5xhY
1LbY4iqbGl/TlklH26rq+tZrLHYaRsm9gVCqFoyb898u0IRplA7rpakeG/xjPHb7ab9u2v5gkfUN
gP8AUlusBAynpykAAAAASUVORK5CYII=" alt="Face" title=""></a>
<a href="https://www.linkedin.com/company/udchalo-com/" target="_blank;" style="margin-right:7px;"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAYAAAAe2bNZAAAEoUlEQVRYhb2YXWxURRTH/2fu7L27
2+0utJWCbYNAsBT5kvChJhUMMdXgCwlCfFATeOLRGDARgi9GTXwxJr5IDMILJJComFQTErHED9IS
wEBDRTHdtil0i+wuK+3evXfmmHtb2gJt97Ld8k/m7uzMmTO/nT13vggfnMFExZWNGBSGIRBRDhCy
oKEBAvKdtRBP9SfMKFoIYoNWWCkM1DFRmJhdgFKuo7ukaVy0kW1VnU8no8/0A5oQcgVUSCA/ZENa
AnAlBv7J3te3RHCtC9Vn9sgKYyeACq+VGG1N/sN/NkpTNAMMC3Hl1qd/ZsYhAk4CUMV6EgFQEgCO
ENAhE/aueyABZMiEvYVIHAfhVwavmAmMCUO8x6SvE+Gt4AM4iYg2uiYuMemjAOY/KowIER9nw/gE
QPWMQMZlMPhNaRlnQfxkUBjBhCOGoG1lgrjfuaSlZIizANc/WCcrUZjwlUxT4DhIzArIWC+gJWTx
L/Fqc5O0kRyDiU8Ics38zmyDTCBaWFljfhEeVq8ZYL9ICG3CT2wmQGLvYwEZlTZoqxtTr6iYAy9J
h9xRUP68jMEaWAVYX9qaVgNIe8EKJl6HIq9vSBCaF1dj2bxYuXkaAL2XwKBwUz8qnu/+ymzI7pqu
xcm31+OFRdVwNWPHkXacS6bLCZRKn1hTJ+RLHQmzIbtzOstwyMDGhVV+XvojVFNOEE/zwksHm0Ws
RrQUm+LzjsLBH64ilbNxsS+Dw+3J6cxLUnx1d7PUjlhvmMWbH+7o8dNsyR6qaJJk0Kog/ve/3IhN
S0ZetgOtV9Hek8Zn21ZieW2lX/bTtUHczNl4fU0dnoiZSOUK+OZyP46e74WjdPEODF4shUF1QWAa
5kSwYn7cz8eskb3DornRsbK6eBhzo+NDXJ+IYG19Ao3zYtj3fWdR/yLs1AgGwkFgiskDudCXwbEL
fcjZ7pj1G8/WoyoaCuLCEgS4AQyLqic9hO1ft+PdU1ew5+SlMXNDkD86AeR6q3aqZAIaz57vzSDv
jsRG2/V/oXm8Lm4FGpmMsIdUV8kwU0hp9hbdSaGnkpuK9YhwRF4stVMK0ktA8dzha8KmO63eAlo2
ryVKpSrPif86q5Ju1jpTigsq08Awo2D/seC0jPib/+whAFuma+BNcu7o5HUzl/c/2/6+heTtIT/f
0Xv/wvnt5RsQo7A3svlpYQTp76ILB7K04ID3L8GAwG8g2jCTX1iihjV4LYAuYSoBUwkVcmg3yjTn
PIoKtvzQzlldds6CMAoEL8mCuEKgY48ThMDX4eBT7RrwkrwrxqNQ39X7RJifEwYtfQwstovM7sqY
7dwrkAPdmYkGN+fUhjeHq+RZIloyWxTM7IiCsyNl/dk2sfzhQxyhX7u0mRnds8Rik+LtBDr1YMXk
x1umPienNhNzazkpvBgp8J0WodRDIFPDjCgpHGyV7L7KjN4ZUTAP27bcL+E2Adw2lVnRKxEB/hFM
q5j5YzAGH43BOzvrEwys1cr4CMBYsE6moJdFGQK9n786/6Csutts1mZe1GQs0/nQYm+H5m2MRi+D
0nrI7FGm/gu3or+r25HTkeX9WQ5yDQTgf++tsB6AgvG5AAAAAElFTkSuQmCC" width="35" height="35" alt="Linkedin" title=""></a>

<a href="https://www.youtube.com/channel/UCa2XfSNuWwE5ryqLPp48t7w" target="_blank" style="margin-right:7px;"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACUAAAAlCAYAAADFniADAAAE4ElEQVRYhcWYXWwUVRTH/+fMndnO
7Ha3X2yFEogWiQ/1BRK/qmngySjGEiAmmGhiwoNGgl/4QnxSNIYEXkw0QR+IBl7URGMUCaRPGGkM
UTECrTFY+RChpezn7M7MPWa2WFrZ7Yz9oP/kZnfvPffc32zOvefcoYG+PkwVuy7MS6MIMjZUrowA
gGKCFgJI0F4s4DzQ4diZDX5Q6TVMqxuCLAhNEPggjAW+N8KGccIgPtxWyJ8mQ3DFTkO0wGOCJRrV
XBnJTAqla0VcHv9zGoNCfCkINucT9jZbqT5ADMXWxGTCtE+lzAcBPCXA3tFk81BCewcA7AdwJc5q
HMOGBHgaRENEfMhT5noCGbEfhbC6Ypi7AZwD4V0A6TlBCSjLxEcB/oSAO2OD1GWDw0SvW4JfAdw/
Oyg/yBLzUSJaPxeYW+AIXUT0raHUuv8LtcJw/eMA7p1PoCloGeVYh7WWzfGgwp1k8DECrVoYoH+5
yNKMg5r1Y7cM/bB07U0e9jp9q3IUQM+CAk1XuQrdXzTkyCTUwMqVk98TlJj3GIojAfK2yT2mopHQ
nG3DRK2xtXUxgDCxM5vdqt5XKAnCxhIQJCClwW8uBtAUso0BB/cFhg9uLV+Hqb3Ncz2H5gOLAtrZ
ca0MVS6WQInUtrgzzWwWZnsrjFQK3NQEMk2QYYCIwtgAggDi+9BuBUGxCD+XQ/XipVpfNJU8ma4W
MmrUae5wlOqjiAlGJo17PvwAzWvXxOWflDc6iuEXX0buxGAUlTmWSj3MKbt1Q5xctnz7C7MCCmW2
t6N7zzu14zxKxWSql91q/qE4jpvXNAASiQWWWN4FqzMbaWe5bg9bthPr5FbtbXX7S0PDOLvteZTO
nI30YbbV9zFVZctaFqaZaPwwphy74di1YwP4+fF+/PbSa3D/GGlox44TYyVqZQKa4kARR5ReIrj6
5Vc4tWEjCj/+VN+HEad8Q0KJwI8Rf5CI2CGlsGTLptqGsO7onJWPG/IVSMZu1rMzQFWq9QeY0dH/
BJbv2I6mlStm9uFW4kDlueqWGwfBFHnj43X7nbtXYdXePZFAqPm4HmljVyuX2Uw0RZxoEyoPDccx
a6igUED1r0vR6zTZp8NA/yaO04v7P0JQKs8a6sL7+yFVL9KOCYN01WnGcHbZ2fDWETXBWrYULX2P
wOrshJFM3sh9qhbkxAZENBBoaN+rxc9E7sujeOoX5L4/EQu+a+xqN42lUriYbtuVT9hvxXvmhZOI
nOz++/xa+u6u1WHptwSgc+E1aDGhtMgzIvpjhi9AIFdEy3uLCSQiZxj6oEEAFwwgbCVDdovgwqIA
hXcW29pBaSegtAM2xEPYWHu5AP4mALnbDWUyveGwHHG0RtjoiylJkkCwE8l1qUzL4fBedjuAUm5p
b1du/FU2bmYVVSmVplNrNcAt2KqBQ+HPhQQS6ANm1dvZWsxP66+bthn0mZSD/rBcWiggy3P3adBz
4aa7df0G8tzK11r0xvCiOJ8wYVATZFfKLb9SD2hGqFCacIQJPRD5fMLfHIHCba/4UWZ+eya7yKqL
iUYItEkgD4jgU4hEJ7D/SIs+KSLPgqSHmCffGTRS/NeLhEFo2tJWyrf4insLdrKXfb/HN1QXgJaw
YgyLgfBIUYF/OTCt09AymCoXjhuB9/t4MhPvrwbwDw0Z0D9yHV42AAAAAElFTkSuQmCC" width="37" height="37" alt="Youtube" title=""></a>


<a href="https://twitter.com/udChalo" target="_blank" style="margin-right:7px;"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAFGUlEQVRYhcWYXWxURRTH/2fm3rtf
3e0nLa2FIpRWQIryIRqiiUQCEYwBE0kU4pPxwRCIRh6IiS8kPhgTePBBY4gIlag8CCoFfABJwBr5
UGI0ArY2FNhStra7/di9H3PMvSXY6n7crW39J/Owd86c+7vnnJnZGcJbjLGqKh9A3YwEMnoAMmPB
DkioICFgZSDTeERBbibB64ixAAAhh5hwFYRj7KhPNSnaR0JhhjCh9TOcKobe56B3YSniD1WOcyBy
ORwraat10qJ2kPheEL9GjIX5YFwRYz4pbBckzjHjkrDt5/y8qxBQRcCyDwfSThsUrfTjMJuYsUTP
mIeNIfs4gNoJAZHDKzWpLhLB15f5ESmsldK5BJueKBboeYOtbwFqmCyYMaoxBp1vAGzN1qmhefyD
QMp6FkStXt9UiWEQ0X4jZbsB2T/2LVTX1n3vhy55cSxhf0fMkSmDGS8zXSdXOxBn70VIj49OFkEc
CGvOIRLTBuPK0LtVqwpRC+tIehzpBRG4TVTKHVKoRdMI40kKbkBYvJlsiMJtdF/7dZCNWOkNp1M6
qmK6gVyxoJF49cx5zPKWVt1pQTG/zKBJgdEEQRBgOuzDelSkODQzfnMbk9pFi1t/BxF+BeiBQgNn
lei4Pmhl7QtphJ1LK7FhTokHdfbWMN652IemMgM9IzYu38kUoOK4plv1YmgktMQPzNyYjo/W1KK5
3Mjav/vRGdg0LwpDjkbo8bowjm6ox+b5Megi7y4zKqaZqWhklYiEh9cWtgZKDIGqoMSBNXXY0hyD
HPOOmpDEU7OyT073AzI+0xdMmKsFafoKP8ZX+00MWQoBSXhjaSW+WF+PF5tiXhrLgjLnuLcvJPBz
okC67oo18bDGlmoiHxENaQL7funHqy0VXkpmR3XsXFaJncsAW+WOQNJ0fMFgdK+bpwFc48c4qgts
W5J9Imp5aqQzmX0SZAfiakGEkB/jrpSF0zeGfTt31T1o48agXcyQgGCCvwQD2HWuF4euJH0X6Ved
g8XAuDIFFPX4tc4oxqrakFfYhTRgKnxyZaAoGhbUK0gX1/wOcIt3+5keLxWF9O6lPg+qKCBJHQKW
c76YQR1JCxuPdePrP3Kn4+BvAzjSkSoKxhXZzo/akB48GbHTuwsZN5cZaIjpaCw1sGZ2xFu5/6m0
zdjzU59XZxORGdBOaZHM4HkI2QGiufl8dKYstFQFsLw6iPrI338m3SWoI2niVPcwPruaxO0R/+vO
uOiAEmFTnNEsqbEA9kkgb5Tc3fvzaymvuTVdFdK8BfLPtIN0ETt7LrGyP1ZW2qKWL/vAzJU8nOwU
iqP/2fNEYAhm14M1TY4mu8TtOQK998tEptTY83/AuDJD2oel/amuijv9oMbjN72H0uKIkTQvE3He
WppsKYGeTHVskTJkwnUtnIyC20zFQ2Y5veCGbxp5nIBe8lLQMRLhEQm3kXvOHatZ7be3lncO7S90
dp8MpWqDOxKNkb1jXf3rMDhSZhwow2CYQO+5mZwiFndteD1TauxN1sfGdWQ/SjPez0S19SDunQKY
ASdAmwi8N1tnzssGlnRCMS2FwOlJQyH6wTLEcoI4msuk0HVMtxmVq9MhfQuYrkyUQxF1mWH5ihkJ
PMaEvJt54QsrAmeCeisruQBCPc3kXQ7EfXDcYYGDUHjGEqLRjGgfgLzayatibjgUEbc5OrWxG3wb
TwqbN0JiBSnU3Z2VcRa4oCSOCBMnbF0owy5iWwHwF0xM8BNm8rmAAAAAAElFTkSuQmCC" width="36" height="36" alt="Twitter" title=""></a>
											</td>
										</tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table><table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="6d3f9879-676b-454e-b5a8-0893fe63d9c2">
    <tbody>
      <tr>
        <td style="padding:18px 0px 18px 0px; line-height:0px; text-align:inherit;" height="100%" valign="top" bgcolor="" role="module-content"><div><div style="font-family: inherit; text-align: center">Stay connected with us</div><div></div></div></td>
      </tr>
    </tbody>
  </table><table width="600" border="0" cellpadding="0" cellspacing="0" align="center" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="fullCenter">
										<tbody><tr>
											<td valign="bottom" style="text-align: center; font-family: Helvetica, Arial, sans-serif, 'Open Sans'; font-size: 12px; color: #9d9d9d; line-height: 20px; font-weight: 400;">
												If you no longer wish to receive the Business newsletter, simply click the unsubscribe link below.
											</td>
										</tr>
										<tr>
											<td valign="bottom" style="text-align: center; font-family: Helvetica, Arial, sans-serif, 'Open Sans'; font-size: 13px; color: #ffffff; line-height: 22px; font-weight: 700;">
												<a href="#" style="color: #489c97; text-decoration: none;">Unsubscribe</a>
											</td>
										</tr>
									</tbody></table>
									
								</td>
							</tr>
						</tbody></table>
						
						<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="full">
							<tbody><tr>
								<td width="100%" height="20"></td>
							</tr>
							<tr>
								<td width="100%" height="1" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
							</tr>
						</tbody></table>
                                    <!--[if mso]>
                                  </td>
                                </tr>
                              </table>
                            </center>
                            <![endif]-->
                          </td>
                        </tr>
                      </tbody></table>
                    </td>
                  </tr>
                </tbody></table>
              </td>
            </tr>
          </tbody></table>
        
      
    
  
